<header>
	<div class="container">
		<div class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<img src="<%= image_path "wfm_logo.png" %>" alt="Wfm logo" />
					<!-- ><span class="logo_title">The Woodbury<strong>Antiques and Flea Market</strong></span>
					<span class="logo_subtitle">The best market in CT!</span>  -->
				</a>
				<a class="btn btn-navbar btn-default navbar-toggle" data-toggle="collapse"
				   data-target=".navbar-collapse"><span class="nb_left pull-left">
              <span class="fa fa-reorder"></span></span> <span class="nb_right pull-right">menu</span>
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav pull-right navbar-nav">
					
					<% if current_page?(root_path) %> <li class="active"><%= link_to('Home', root_url) %></li>
					<% else %><li><%= link_to('Home', root_url) %></li><% end %>
					
					<% if current_page?(pages_gus_path) %> <li class="active"><%= link_to('Gus', pages_gus_path) %></li>
					<% else %><li><%= link_to('Gus', pages_gus_path) %></li><% end %>
					
					<% if current_page?(pages_directions_path) %> <li class="active"><%= link_to('Directions', pages_directions_path) %></li>
					<% else %><li><%= link_to('Directions', pages_directions_path) %></li><% end %>
					
					<% if current_page?(pages_about_path) %> <li class="active"><%= link_to('About', pages_about_path) %></li>
					<% else %><li><%= link_to('About', pages_about_path) %></li><% end %>
					
					<% if user_signed_in? %>
						<li><a href="<%= admin_path %>">Admin</a></li>
						<li><a href="<%= destroy_user_session_path %>" >Logout</a></li>
					<% end %>
					
				</ul>
			</div>
		</div>
		<div id="social_media_wrapper"><a
			href="https://www.facebook.com/pages/Woodbury-Antiques-Flea-Market/194628543955095"><i
			class="fa fa-facebook"></i></a>
			<a href="http://bluehelmet.software"><i class="fa fa-flickr"></i></a></div>
		<!-- div id="sign"><a href="register.html"><i class="fa fa-user"></i><span>Register/Sign in</span></a></div> -->
	</div>
</header>